body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #9699d6; /* Nuevo color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .title {
    color: #000000;
    font-size: 25px; /* Nuevo tamaño de fuente */
    text-align: center;
}

.contenedor-card {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    overflow: hidden;
    width: 275px;
    height: 275px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.5em;
}

.card-section, .card-specialist {
    margin: 5px 0;
    color: #555;
}

.card button {
    background-color: #7749f8;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.card button:hover {
    background-color: #5e39c4;
}
